@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-large {
    width: 150px;
    height: auto;
    margin: 0 auto;
    display: block;
}
.logo-nav {
    height: 40px;
    width: auto;
}
